<div class="sidebar">
    <ul>
      <li><a href="/expenses">Expense List</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/monthly">Monthly Report</a></li>
    </ul>
  </div>
  